.search-box input:focus {
  outline: none;
  box-shadow: none;
}

.nav-link {
  font-weight: 500;
  color: #333 !important;
}

.nav-link:hover {
  color: #007bff !important;
}

.search-box {
  min-width: 380px;
}
